# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcuserdatad

# Build generated
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
